.envelope {
  position: relative;
  height: 180px;
  width: 280px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-primary);
  box-shadow: 0 4px 20px black;

  :hover {
    cursor: pointer;
  }
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-top: 100px solid var(--color-primary);
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 82px solid transparent;
  transform-origin: top;
}

.pocket {
  border-left: 140px solid #FF8BA0;
  border-right: 140px solid #FF8BA0;
  border-bottom: 90px solid #FFA8B5;
  border-top: 90px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative; /* relative to the container that it is in */
  background-color: bisque;
  width: 90%;
  height: 94%;
  top: 5%;
  border-radius: 10px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  margin-left: auto; 
  margin-right: auto;
  /* setting both margins to auto, puts it in the middle */

}

.letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.words {
  position: absolute;
  left: 8%;
  width: 84%;
  height: 14px;
  font-size: 13px;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  color: black;

}

.line1{
  top: 7%;
  color: var(--color-primary);
  font-weight: 600;
}

.line2 {
  top: 18%;
}

.line-mid {
  text-align: center;
  top: 57%;
}

.line3 {
  top: 67%;
  text-align: center;
}

.line4 {
  top: 75%;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  color: var(--color-primary);
}

.hearts {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 2;
}

.open .flap {
  transform: rotatex(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
  transform: rotatex(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.open .letter {
  transform: translatey(-90px);
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

.close .letter {
  transform: translatey(0deg);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.heart:before, .heart:after {
  background: #FF0000; 
  position: absolute;
  content: "";
  width: 50px;
  height: 80px;
  left: 50px;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.close .heart {
  opacity: 0;
  animation: none;
}

.a1 {
  left: 20%;
  transform: scale(0.6);
  opacity: 1;
  animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.a2 {
  left: 55%;
  transform: scale(1);
  opacity: 1;
  animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.a3 {
  left: 10%;
  transform: scale(0.8);
  opacity: 1;
  animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.a4 {
  left: 40%;
  transform: scale(0.55);
  opacity: 1;
  animation: slideUp 8s linear 1, sideSway 3s ease-in-out 5 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

@keyframes slideUp {
  0% {
    top: 0px;
  }
  100% {
    top: -600px;
  }
}

@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

.reset {
  text-align: center;

  button {
    font-weight: 800;
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    transition: all 0.1s linear;
    background-color: transparent;
    border: solid 2px var(--color-primary);
    color: var(--color-primary);
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    line-height: 2em;
    text-decoration: none;
    min-width: 130px;
    outline: none;
    border-radius: 0.5rem;
  }
}

.reset button:hover {
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
