* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
  text-decoration: none;
}

body {
  background-color: var(--color-background);
  margin-top: var(--navbar-height);
}

