@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto&display=swap');

:root {
  font-family: 'Montserrat', Arial, sans-serif;

  --color-background: #FFC3DA;
  --color-primary: #FF6863;
  --color-secondary: #FF8BA0;
  --color-tertiary: #FFA8B5;
  --navbar-height: 5rem;
}